html { height: 100%; }
body { min-height: 100%; }

.splitdown-editor {
    width:100%;
    min-height: 500px;
    background-color: #FAFAFA;
    margin-top:3px !important;
    height:100%;
    border-radius: 0px;
}

.splitdown-preview {
    height: 500px;
    width:100%;
    margin-top:3px !important;
    overflow-y: scroll;
    background-color: #fff;
}

.splitdown-wrapper {
    border-top:#edece4 1px solid;
    margin-top: 30px;
    width:100%;
    height:100%;
}

.splitdown-mirror-left {
    border-right:#edece4 1px solid;
    min-height: 500px;
    height:100%;
    width:50%;
    float:left;
    margin-top: 5px;
}

.splitdown-mirror-right {
    min-height: 500px;
    height: 100%;
    float:right;
    width:49.9%;
    margin-top: 5px;
}

.splitdown-label {
    color: #999999;
    margin-left: 5px;
}

.splitdown-button {
    background-color: #C5C5C5;
    border-radius: 50px;
    float: right;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.splitdown-button:visited, .splitdown-button:visited{
    color: #ffffff;
    text-decoration: none;
}

:fullscreen .splitdown-mirror-left, :-webkit-full-screen .splitdown-mirror-left, :-moz-full-screen .splitdown-mirror-left {
    border-right:#000000 2px solid !important;

}

.splitdown-media-button {
    float: right;
    margin-right: 8px !important;
}