<div class="splitdown-wrapper">
    <div class="splitdown-mirror-left">
        <span class="splitdown-label">Markdown</span>
        <span class="splitdown-help">?</span>
        <textarea class="wp-editor-area splitdown-editor" name="content" id="content" aria-hidden="true">{:markdown}</textarea>
    </div>
    <div class="splitdown-mirror-right">
        <span class="splitdown-label">Preview</span>
        <div class="splitdown-preview" id="splitdown-preview">{:html}</div>
        <input type="hidden" name="splitdown-markdown" id="splitdown-markdown" />
    </div>
</div>

<div class="splitdown-helpbox">
    <h2>Markdown Help</h2>
</div>